{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wacky Widget</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body class="text-center">
    <h1 class="text-center">Wacky Widget</h1>
    
    {% if widget_list|length == 0 %}
        <h4>No Widgets Exists</h4>
        <hr>
    {% else %}
        <!-- show the details -->
        <table class="pure-table pure-table-striped">
            <thead>
              <tr>
                  <th>Description</th>
                  <th>Quantity</th>
                  <th>Delete</th>
                </tr>
            </thead>
            <tbody>
              {% for widget in widget_list%}
                <tr>
                  <td>{{widget.description}}</td>
                  <td>{{widget.quantity}}</td>
                  <td>
                      <a href="{% url 'delete' widget.id %}"> X</a>
                  </td>
                </tr>
              {% endfor %}
              <tr>
                  <td>Total</td>
                  <td>{{total_quantity}}</td>
                  <td></td>
            </tr>
            </tbody>
          </table>




          <hr>
    {% endif %}
    <h4>Add Widget</h4>
    <form action="{% url 'widgets_create' %}" method="post">
        {% csrf_token %}
        {{ wacky_form.as_p }}
        <button type="submit" class="btn btn-secondary" >Add WIDGET</button>
    </form>
</body>
</html>